#map {
  height: calc(100% - 60px); /* Adjusted to leave space for the fixed navigation bar */
}

.map {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; /* Added to ensure proper positioning of children elements */
}


/*navbar*/
.navbar-icon {  
  height: 20px;
  width: 20px;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #c5b8b8;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  z-index: 1000; /* Added to ensure the navigation bar is above other elements */
}

.bottom-navigation a {
  color: white;
  text-align: center;
  padding: 9px 18px;
  text-decoration: none;
  font-size: 15px;
  word-spacing: 10%;
}

.bottom-navigation a:hover {
  background-color: #c9bbbb;
}

.bottom-navigation a div {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .bottom-navigation a {
    font-size: 14px;

  }
}
